@let fines = fines$ | async;
<p-dataView [value]="fines !== null ? fines : skeletonFines" class="w-full" styleClass="w-full">

    <ng-template #header>
        <app-list-sorting [sorting]="sorting" />
    </ng-template>

    <ng-template #list let-fines>
        @for (fine of finesType(fines); track fine !== null ? fine.id.guidString : null; let isFirst = $first) {
            <app-fine-list-element [personId]="personId()" [fine]="fine" [hideTopBorder]="isFirst" />
        }
    </ng-template>

    <ng-template #emptymessage>
        <p class="text-2xl font-bold text-center my-0 pt-5" i18n="Message when there are no fines">This person has no fines</p>
    </ng-template>

</p-dataView>
