<p-dialog [visible]="visible && state === 'detail' && fineTemplate !== null" (visibleChange)="visibleChange.emit($event)" [modal]="true" [dismissableMask]="true" [draggable]="false" [resizable]="false" class="clamp-width">

    <ng-template pTemplate="header">
        @if (fineTemplate !== null) {
            <div class="flex flex-row align-items-center justify-content-start">
                <p class="text-color text-xl font-semibold my-0 pl-3">{{ fineTemplate.reason }}</p>
            </div>
        }
    </ng-template>

    @if (fineTemplate !== null) {
        <app-fine-template-detail [fineTemplate]="fineTemplate" (editFineTemplate)="state = 'edit'" (fineTemplateDeleted)="visibleChange.emit(false)" />
    }
</p-dialog>

<app-fine-template-add-edit [fineTemplate]="fineTemplate" [visible]="visible && (state === 'edit' || fineTemplate === null)" (visibleChange)="visibleChange.emit($event)" />
