<p-dialog [visible]="visible && state === 'detail' && personId !== null && fine !== null" (visibleChange)="visibleChange.emit($event)" [modal]="true" [dismissableMask]="true" [draggable]="false" [resizable]="false" class="clamp-width">

    <ng-template pTemplate="header">
        @if (personId !== null && fine !== null) {
            <div class="flex flex-row align-items-center justify-content-start">
                <p-tag [value]="payedTag(fine.payedState).value" [severity]="payedTag(fine.payedState).severity" />
                <p class="text-color text-xl font-semibold my-0 pl-3">{{ fine.reason }}</p>
            </div>
        }
    </ng-template>

    @if (personId !== null && fine !== null) {
        <app-fine-detail [personId]="personId" [fine]="fine" (editFine)="state = 'edit'" (fineDeleted)="visibleChange.emit(false)" />
    }

</p-dialog>

<app-fine-add-edit [personId]="personId" [fine]="fine" [visible]="visible && (state === 'edit' || personId === null || fine === null)" (visibleChange)="visibleChange.emit($event)" />
