<h2 id="title" i18n="Title of create your team of sign in with your invitation">Create your team / Sign in with your invitation</h2>
<p id="subtitle" i18n="Subtitle of create your team of sign in with your invitation">You are not associated to any team. Create your team or use your invitation to be added to your team.</p>
<form [formGroup]="teamForm" id="team-form">
    <p-floatLabel id="name-input-label">
        <input type="text" pInputText formControlName="name" id="name-input" />
        <label for="name-input" i18n="Label for the name input field">Team name</label>
    </p-floatLabel>
    <app-error-message [message]="teamFormNameErrorMessage" />
    @if (teamForm.get('name')!.valid && teamForm.get('name')!.dirty) {
        <p-floatLabel @enterLeaveAnimation id="first-name-input-label">
            <input type="text" pInputText formControlName="personFirstName" id="first-name-input" />
            <label for="first-name-input" i18n="Label for the first name input field">First name</label>
        </p-floatLabel>
        <app-error-message [message]="teamFormLastNameErrorMessage" />
        <p-floatLabel @enterLeaveAnimation id="last-name-input-label">
            <input type="text" pInputText formControlName="personLastName" id="last-name-input" />
            <label for="last-name-input" i18n="Label for the optional last name input field">Last name (optional)</label>
        </p-floatLabel>
        <app-error-message [message]="teamFormLastNameErrorMessage" />
    }
    <p-button (onClick)="createTeam()" [loading]="createTeamState === 'loading'" [disabled]="createTeamState === 'loading'" [severity]="createTeamState === null || createTeamState === 'loading' ? undefined : 'danger'"  i18n-label="Button label to create team" label="Create team" id="form-submit-button" />
    <app-error-message [message]="createTeamErrorMessage" />
</form>
<p-divider align="center">
    <small class="p-text-secondary" i18n="Label of the divider between create your team and sign in with invitation">or use your invitation</small>
</p-divider>
<form [formGroup]="invitationForm" id="invitation-form">
    <p-floatLabel id="invitation-code-input-label">
        <input type="text" pInputText formControlName="linkOrCode" id="invitation-code-input" />
        <label for="invitation-code-input" i18n="Label for the invitation link or code input field">Invitation link or code</label>
    </p-floatLabel>
    <app-error-message [message]="invitationFormLinkOrCodeErrorMessage" />
    <p-button (onClick)="registerWithInvitation()" [loading]="registerWithInvitationState === 'loading'" [disabled]="registerWithInvitationState === 'loading'" [severity]="registerWithInvitationState === null || registerWithInvitationState === 'loading' ? undefined : 'danger'" i18n-label="Button label to sign in with invitation" label="Sign in with invitation" id="form-submit-button" />
    <app-error-message [message]="registerWithInvitationErrorMessage" />
</form>
