<form [formGroup]="loginForm" (keydown.enter)="registerButtonShown() ? register() : login()" class="flex flex-column align-items-center justify-content-start w-full">
    @if (registerButtonShown()) {
        <div class="mb-5 w-full">
            <p-floatLabel class="flex w-full">
                <input type="text" pInputText formControlName="firstName" id="first-name-input" class="w-full" data-testid="first-name-input">
                <label for="first-name-input" i18n="Label for the first name input field"><fa-icon [icon]="['fas', 'user']" /> First Name</label>
            </p-floatLabel>
            <app-error-message [message]="firstNameErrorMessage" class="w-full" data-testid="first-name-error-message" />
        </div>

        <div class="mb-5 w-full">
            <p-floatLabel class="flex w-full">
                <input type="text" pInputText formControlName="lastName" id="last-name-input" class="w-full" data-testid="last-name-input">
                <label for="last-name-input" i18n="Label for the last name input field"><fa-icon [icon]="['fas', 'user']" /> Last Name</label>
            </p-floatLabel>
            <app-error-message [message]="lastNameErrorMessage" class="w-full" data-testid="last-name-error-message" />
        </div>
    }

    @if (emailShown) {
        <div class="mb-5 w-full">
            <p-floatLabel class="flex w-full">
                <input type="email" pInputText formControlName="email" id="email-input" class="w-full" data-testid="email-input">
                <label for="email-input" i18n="Label for the email input field"><fa-icon [icon]="['fas', 'user']" /> Email</label>
            </p-floatLabel>
            <app-error-message [message]="emailErrorMessage" class="w-full" data-testid="email-error-message" />
        </div>
    }

    <div class="mb-5 w-full">
        @if (passwordShown()) {
            <p-floatLabel class="flex w-full">
                <p-password formControlName="password" id="password-input" [toggleMask]="true" [feedback]="false" class="w-full" inputStyleClass="w-full" data-testid="password-input" />
                <label for="password-input" i18n="Label for the password input field"><fa-icon [icon]="['fas', 'key']" /> Password</label>
            </p-floatLabel>
            <app-error-message [message]="passwordErrorMessage" class="w-full" data-testid="password-error-message" />
        }
    </div>

    @if (registerButtonShown()) {
        <div class="w-full flex justify-content-end gap-3 flex-column md:flex-row">
            <p-button [disabled]="cancelButtonDisabled()" (onClick)="cancelRegister()" [severity]="'secondary'"
                class="w-full" styleClass="w-full shadow-4 h-3rem" data-testid="cancel-register-button">
                <p class="white-space-nowrap px-2 text-xl font-medium" i18n="Label for cancel registration button">Cancel</p>
            </p-button>
            <p-button [text]="errorMessage() === null" [loading]="loading()" [disabled]="disabled()" [severity]="errorMessage() === null ? undefined : 'danger'" (onClick)="register()"
                [style]="{ background: errorMessage() === null ? colors['highlight-background'] : 'var(--p-button-danger-background)' }" class="w-full" styleClass="w-full shadow-4 h-3rem" data-testid="register-button">
                <p class="white-space-nowrap px-2 text-xl font-medium" [style.color]="colors['highlight-text']" i18n="Button label to sign up or log in">Sign up</p>
            </p-button>
        </div>
    } @else {
        <p-button [text]="errorMessage() === null" [loading]="loading()" [disabled]="disabled()" [severity]="errorMessage() === null ? undefined : 'danger'" (onClick)="login()"
            [style]="{ background: errorMessage() === null ? colors['highlight-background'] : 'var(--p-button-danger-background)' }" class="w-full" styleClass="w-full shadow-4 h-3rem" data-testid="login-button">
            <p class="white-space-nowrap px-2 text-xl font-medium" [style.color]="colors['highlight-text']" i18n="Button label to sign up or log in">Sign in</p>
        </p-button>
    }
    <app-error-message [message]="errorMessage()" class="w-full" data-testid="form-error-message" />
</form>
