<section class="cell" aria-label="User teams fine share">
	<header class="cell__header">
		<h3 class="cell__title">Teams Fine Share</h3>
		<a class="cell__link" href="#">View all</a>
	</header>

	<div class="row">
		<span class="row__name">Varsity Squad</span>
		<span class="row__value">$680</span>
		<div class="row__bar"><span style="width: 82%"></span></div>
	</div>

	<div class="row">
		<span class="row__name">Sunday League</span>
		<span class="row__value">$310</span>
		<div class="row__bar"><span style="width: 47%"></span></div>
	</div>

	<div class="row">
		<span class="row__name">Cup Team</span>
		<span class="row__value">$180</span>
		<div class="row__bar"><span style="width: 29%"></span></div>
	</div>
</section>
