<div class="flex flex-column align-items-center justify-content-start">
    <p class="text-color-secondary my-0 pt-5 pb-3">{{ fine.date | date }}</p>
    <p class="text-color font-bold text-6xl my-0 pb-5">{{ fine.value | fineValue }}</p>
    @let canDeleteFine = (canDeleteFine$ | async) ?? false;
    @let canEditFine = (canEditFine$ | async) ?? false;
    @if (canDeleteFine || canEditFine) {
        <div class="flex flex-row w-full mt-5">
            @if (canEditFine) {
                <p-button i18n-label="Button label to edit something" label="Edit" class="flex-1" (onClick)="editFine.emit()" [styleClass]="'w-full' + (canDeleteFine ? ' border-noround-right' : '')" />
            }
            @if (canDeleteFine) {
                <p-confirmPopup styleClass="pt-3" />
                <p-button [loading]="deleteLoading" [disabled]="deleteLoading" i18n-label="Button label to delete something" label="Delete" class="flex-1" severity="danger" (onClick)="showDeleteConfirmation($event)" [styleClass]="'w-full' + (canEditFine ? ' border-noround-left' : '')" />
            }
        </div>
    }
</div>
