<div class="flex flex-row align-items-start justify-content-between w-full py-5 border-200" [class.border-top-1]="!hideTopBorder" [class.cursor-pointer]="fineTemplate !== null" (click)="detailsShown = true">
    <div class="flex flex-column align-items-start justify-content-center mr-1 w-full">
        @if (fineTemplate !== null) {
            <p class="text-color font-bold text-2xl my-0">{{ fineTemplate.reason }}</p>
            @if (fineTemplate.multiple !== null) {
                <p class="text-color-secondary text-lg my-0">{{ multipleDescription(fineTemplate.multiple) }}</p>
            }
        } @else {
            <p-skeleton height="1.5rem" width="60%" />
        }
    </div>
    @if (fineTemplate !== null) {
        <p class="text-color font-bold text-3xl my-0 mr-5">{{ fineTemplate.amount | amount }}</p>
    } @else {
        <p-skeleton height="1.75rem" width="5rem" class="ml-auto mr-5 w-auto" />
    }
</div>

@if (fineTemplate !== null) {
    <app-fine-template-detail-add-edit [(visible)]="detailsShown" [fineTemplate]="fineTemplate" />
}
