@let _fineTemplate = fineTemplate();

<!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
<div class="flex md:flex-row flex-column align-items-center justify-content-between w-full py-5 border-200" [class.border-top-1]="!hideTopBorder()" [class.cursor-pointer]="_fineTemplate !== null"  (click)="showFineTemplateDetails()">
    <div class="flex flex-column align-items-start justify-content-center mr-1 w-full">
        @if (_fineTemplate !== null) {
            <p class="text-color font-bold text-2xl my-0">{{ _fineTemplate.reason }}</p>
            @if (_fineTemplate.repetition !== null) {
                <p class="text-color-secondary text-lg my-0">{{ repetitionDescription(_fineTemplate.repetition) }}</p>
            }
        } @else {
            <p-skeleton height="1.5rem" width="60%" class="mb-1" />
        }
    </div>
    <div class="flex md:flex-row flex-column align-items-center justify-content-center my-auto">
        @if (_fineTemplate !== null) {
            <p class="text-color font-bold md:text-justify text-center md:text-3xl text-5xl md:my-0 my-3 mr-5">{{ _fineTemplate.amount | fineAmount }}</p>
        } @else {
            <p-skeleton height="1.75rem" width="5rem" class="mr-5" />
        }
    </div>
</div>
