<div class="sign-in-page flex flex-column md:flex-row align-items-center justify-content-center md:h-screen w-full">
    <app-sign-in-left-panel class="w-full md:w-50vw md:h-full" (scrollToLogin)="scrollToLogin()" />
    <div #signInPanel class="sign-in-page__right-panel w-full md:w-50vw md:h-full">
        <app-sign-in-panel class="sign-in-page__right-panel-content w-full h-full"
            [registerMode]="registerMode"
            [passwordShown]="passwordShown"
            [registerButtonShown]="registerButtonShown"
            [cancelButtonDisabled]="cancelButtonDisabled"
            [usernamePasswordFormErrorMessage]="usernamePasswordFormErrorMessage"
            [usernamePasswordLoading]="usernamePasswordAuth.loading"
            [usernamePasswordDisabled]="usernamePasswordAuth.disabled"
            [passwordIncorrect]="usernamePasswordAuth.error === 'wrong-password'"
            [googleSignInErrorMessage]="googleSignInErrorMessage"
            [googleLoading]="googleAuth.loading"
            [googleDisabled]="googleAuth.disabled"
            [appleSignInErrorMessage]="appleSignInErrorMessage"
            [appleLoading]="appleAuth.loading"
            [appleDisabled]="appleAuth.disabled"
            (usernamePasswordFormSubmit)="onUsernamePasswordFormSubmit($event)"
            (registerFormSubmit)="onRegisterFormSubmit($event)"
            (registerFormCancel)="onRegisterFormCancel()"
            (googleSignInClicked)="onGoogleSignInClicked()"
            (appleSignInClicked)="onAppleSignInClicked()" />
    </div>
</div>
