@let currentDialog = popupDialogHandler.$current | async;


@if (currentDialog === null) {
    @if (!closeTimeoutActive) {
        <p-dialog [visible]="currentDialog !== null" (visibleChange)="visibleChanged($event)" [modal]="true" [dismissableMask]="true" [draggable]="false" [resizable]="false" appendTo="body" class="clamp-width" styleClass="md:w-45vw w-90vw">
            <ng-template #header>
                <p class="header error" i18n="Popup dialog is visible in an inactive state. Header of the error message">Internal error!</p>
            </ng-template>
            <p id="error-message" i18n="Popup dialog is visible in an inactive state. Show an error message">An error occured while opening this dialog, please try again!</p>
        </p-dialog>
    }
} @else if (currentDialog.type === 'fineDetail') {
    <p-dialog [visible]="currentDialog !== null" (visibleChange)="visibleChanged($event)" [modal]="true" [dismissableMask]="true" [draggable]="false" [resizable]="false" appendTo="body" class="clamp-width" styleClass="md:w-45vw w-90vw">
        <ng-template #header>
            <ng-container *ngTemplateOutlet="fineDetailElement.headerElement()" />
        </ng-template>
        <app-fine-detail [personId]="currentDialog.personId" [fine]="currentDialog.fine" #fineDetailElement="appFineDetail" />
    </p-dialog>
} @else if (currentDialog.type === 'fineAddEdit') {
    <p-dialog [visible]="currentDialog !== null" (visibleChange)="visibleChanged($event)" (onShow)="fineAddEditElement.reset()" (onHide)="fineAddEditElement.reset()" [modal]="true" [dismissableMask]="true" [draggable]="false" [resizable]="false" appendTo="body" class="clamp-width" styleClass="md:w-45vw w-90vw">
        <ng-template #header>
            <ng-container *ngTemplateOutlet="fineAddEditElement.headerElement()" />
        </ng-template>
        <app-fine-add-edit [fine]="currentDialog.fine" [personId]="currentDialog.personId" #fineAddEditElement="appFineAddEdit" />
    </p-dialog>
}
