@let fineTemplates = fineTemplates$ | async;
<p-dataView [value]="fineTemplates !== null ? fineTemplates : skeletonFineTemplates" class="w-full" styleClass="w-full">

    <ng-template #header>
        <div class="flex md:flex-row flex-column justify-content-between">

            <p-inputgroup>
                <p-button severity="secondary" [outlined]="true" (onClick)="sorting.toggleDirection()">
                    <ng-template #icon>
                        <fa-icon [icon]="sorting.directionIcon" />
                    </ng-template>
                </p-button>
                <p-select [options]="sorting.options" optionLabel="label" (onChange)="sorting.sortBy= $event.value.key" appendTo="body"/>
            </p-inputgroup>

            @let canAddFineTemplate = (canAddFineTemplate$ | async) ?? false;
            @if (canAddFineTemplate) {
                <p-button i18n-label="Button label to add a fine template" label="Add fine template" (onClick)="addFineTemplateClicked()" class="md:mt-auto mt-3 md:ml-3 ml-auto">
                    <ng-template pTemplate="icon">
                        <fa-icon [icon]="['fas', 'plus']" class="mr-2" />
                    </ng-template>
                </p-button>
            }

        </div>
    </ng-template>

    <ng-template #list let-fineTemplates>
        @for (fineTemplate of fineTemplatesType(fineTemplates); track fineTemplate !== null ? fineTemplate.id.guidString : null; let isFirst = $first) {
            <app-fine-template-list-element [fineTemplate]="fineTemplate" [hideTopBorder]="isFirst" />
        }
    </ng-template>

    <ng-template #emptymessage>
        <p class="text-2xl font-bold text-center my-0 pt-5" i18n="Message when there are no fine templates">No fine templates</p>
    </ng-template>

</p-dataView>
