@let user = userManager.user$ | async;
@let selectedTeamId = userManager.selectedTeamId$ | async;
@let canAddFine = (userManager.hasRole('fine-manager') | async) ?? false;
@if (user !== null) {
    <p-menu [model]="teamMenu(user, selectedTeamId, canAddFine)" class="fixed" />
}

<div class="flex flex-column align-items-center justify-content-start w-50vw mx-auto">

    @let signedInPerson = signedInPerson$ | async;
    <p-card class="flex w-full" styleClass="w-full mb-8">
        <app-persons-list-element [person]="signedInPerson" [preview]="true" />
    </p-card>

    <div class="flex flex-column align-items-center justify-content-start w-full pb-2">
        <div class="flex flex-row align-items-start justify-content-center w-full">
            <p-button label="Persons" (onClick)="visibleState = 'persons'" [text]="true" severity="info" class="flex-1 mx-3" styleClass="w-full py-1" />
            <p-button label="Fine Templates" (onClick)="visibleState = 'fineTemplates'" [text]="true" severity="info" class="flex-1 mx-3" styleClass="w-full py-1" />
        </div>
        <div id="visible-state-changer-bar" [className]="'state-' + visibleStateIndex"></div>
    </div>

    <p-card class="flex w-full" styleClass="w-full">
        <div class="flex flex-row align-items-start justif-content-start w-full overflow-hidden">
            <app-persons-list class="w-full visible-state-content state-0" [class.visible]="visibleState === 'persons'" />
            <app-fine-templates-list class="w-full visible-state-content state-1"  [class.visible]="visibleState === 'fineTemplates'" />
        </div>
    </p-card>

</div>

<app-fine-detail-add-edit [(visible)]="addMultipleFinesDialogVisible" />

<p-toast />
