$visible-state-number: 2;
$visible-state-changer-bar-height: 0.25rem;

#visible-state-changer-bar {
    width: 100% / $visible-state-number / 2;
    margin-top: 0.25rem;
    height: $visible-state-changer-bar-height;
    border-radius: $visible-state-changer-bar-height / 2;
    background-color: var(--primary-color);
    transition: margin-left 0.5s, margin-right 0.5s;

    @for $i from 0 through $visible-state-number - 1 {
        &.state-#{$i} {
            margin-left: 100% / $visible-state-number * $i + 100% / $visible-state-number / 4;
            margin-right: 100% / $visible-state-number * ($visible-state-number - $i - 1) + 100% / $visible-state-number / 4;
        }
    }
}

.visible-state-content {
    transition: margin-left 0.5s, margin-right 0.5s, padding-left 0.5s, padding-right 0.5s;

    &.state-0 {
        margin-left: -100%;
        padding-right: 3rem;
        height: 0;

        &.visible {
            margin-left: 0;
            padding-right: 0;
            height: auto;
        }
    }

    &:not(.state-0) {
        margin-right: -100%;
        padding-left: 3rem;
        height: 0;

        &.visible {
            margin-right: 0;
            padding-left: 0;
            height: auto;
        }
    }
}
