<p-menu [model]="teamMenu" />

<div class="flex flex-column align-items-center justify-content-start">

    @let signedInPerson = signedInPerson$ | async;
    @if (signedInPerson !== null) {
        <p-card class="flex w-50vw" styleClass="w-full mb-8">
            <app-persons-list-element [person]="signedInPerson" [preview]="true" />
        </p-card>
    }

    <p-card class="flex w-50vw" styleClass="w-full mb-8">
        <app-fine-templates-list />
    </p-card>

    <p-card class="flex w-50vw" styleClass="w-full">
        <app-persons-list />
    </p-card>

</div>

<p-toast />
