<ng-template #header>
    @let _person = $person | async;
    @let _fine = fine();
    @if (_person === null) {
        <p class="text-color text-xl font-semibold my-0 pl-3" i18n="Header in add and edit fine dialog for adding multiple fines">Add multiple fines</p>
    } @else if (_fine === null) {
        <p class="text-color text-xl font-semibold my-0 pl-3" i18n="Header in add and edit fine dialog for adding a fine to a person">Add a fine to {{ _person.name }}</p>
    } @else {
        <p class="text-color text-xl font-semibold my-0 pl-3" i18n="Header in add and edit fine dialog for editing a fine">Edit {{ _fine.reason }} for {{ _person.name }}</p>
    }
</ng-template>

<app-add-edit-form [form]="this" [buttonLabel]="buttonLabel">

    @let personOptions = personOptions$ | async;
    @if (personId() === null && personOptions !== null) {
        <app-form-element type="multiselect" [formControl]="get('personIds')" [options]="personOptions"
            i18n-label="Label for select person in fine add and edit" label="Persons"
            i18n-selectedItemsLabel="Label for select persons if more than max persons are selected" selectedItemsLabel="{0} persons selected"
        />
    }

    @if (get('fineTemplate')!.value !== 'custom') {

        @let fineTemplateOptions = fineTemplateOptions$ | async;
        @if (fine() === null && fineTemplateOptions !== null) {
            <app-form-element #fineTemplateSelect type="dropdown" [formControl]="get('fineTemplate')" [options]="fineTemplateOptions"
                i18n-label="Label for select a fine template in fine add and edit" label="Fine template"
            >
                <div ngProjectAs="header" class="px-3 pt-2">
                    <p-button (onClick)="customFineReasonSelected(true)" label="Create custom fine reason" i18n-label="Button label to add a custom fine reason in fine add and edit" fluid text size="small" icon="pi pi-pen-to-square" />
                </div>
            </app-form-element>

            @let selectedFineTemplate = get('fineTemplate')!.value;
            @if (selectedFineTemplate !== null && selectedFineTemplate !== 'custom' && selectedFineTemplate!.repetition !== null) {
                <app-form-element type="number" [formControl]="get('fineTemplateRepetition')" [min]="1" [max]="fineTemplateRepetitionMaximum ?? undefined" [suffix]="fineTemplateRepetitionSuffix" [showButtons]="true"
                    i18n-label="Label for the number of times input field" label="Times"
                />
            }
        }

    } @else {

        <p-button (onClick)="customFineReasonSelected(false)" label="Use fine template" i18n-label="Button label to use fine template in fine add and edit" severity="secondary" outlined icon="pi pi-arrow-left" class="mt-3 mr-auto" />

        <app-form-element type="input" [formControl]="get('reason')"
            i18n-label="Label for the reason input field" label="Reason"
        />

        <app-form-element type="dropdown" [formControl]="get('fineAmountItem')" [options]="fineAmountItemOptions"
            i18n-label="Label for the fine value type dropdown" label="Cost"
        />

        @let selectedfineAmountItem = get('fineAmountItem')!.value;
        @if (selectedfineAmountItem === 'amount') {
            <app-form-element type="currency" [formControl]="get('amount')" currency="EUR"
                i18n-label="Label for the amount input field" label="Amount"
            />
        } @else if (selectedfineAmountItem !== null) {
            <app-form-element type="number" [formControl]="get('fineAmountItemCount')" [min]="1" [showButtons]="true" [suffix]="fineAmountItemCountSuffix"
                i18n-label="Label for the fine value item count input field" label="Count"
            />
        }

    }

    <app-form-element type="date" [formControl]="get('date')" [inline]="true" />

</app-add-edit-form>
