<app-add-edit-form-dialog [form]="this" [headerLabel]="headerLabel" [buttonLabel]="buttonLabel" [visible]="visible" (visibleChange)="visibleChange.emit($event)">

    @let personOptions = personOptions$ | async;
    @if (personId === null && personOptions !== null) {
        <app-form-element type="multiselect" [formControl]="get('personIds')" [options]="personOptions"
            i18n-label="Label for select person in fine add and edit" label="Persons"
            i18n-placeholder="Placeholder for select person in fine add and edit" placeholder="Select persons"
            i18n-selectedItemsLabel="Label for select persons if more than max persons are selected" selectedItemsLabel="{0} persons selected"
        />
    }

    @let fineTemplateOptions = fineTemplateOptions$ | async;
    @if (fine === null && fineTemplateOptions !== null) {
        <app-form-element type="dropdown" [formControl]="get('fineTemplate')" [options]="fineTemplateOptions"
            i18n-label="Label for select a fine template in fine add and edit" label="Fine template"
            i18n-placeholder="Placeholder for select a fine template in fine add and edit" placeholder="Select a fine template"
        />

        @let selectedFineTemplate = get('fineTemplate')!.value;
        @if (selectedFineTemplate !== null && selectedFineTemplate !== 'ownFine' && selectedFineTemplate!.multiple !== null) {
            <app-form-element type="number" [formControl]="get('fineTemplateTimes')" [min]="1" [max]="fineTemplateTimesMaximum" [suffix]="fineTemplateTimesSuffix" [showButtons]="true"
                i18n-label="Label for the number of times input field" label="Times"
            />
        }
    }

    @if (get('fineTemplate')!.value === 'ownFine') {

        <app-form-element type="input" [formControl]="get('reason')"
            i18n-label="Label for the reason input field" label="Reason"
        />

        <app-form-element type="dropdown" [formControl]="get('fineValueType')" [options]="fineValueTypeOptions"
            i18n-label="Label for the fine value type dropdown" label="Cost"
        />

        @let selectedFineValueType = get('fineValueType')!.value;
        @if (selectedFineValueType === 'amount') {
            <app-form-element type="currency" [formControl]="get('amount')" currency="EUR"
                i18n-label="Label for the amount input field" label="Amount"
            />
        } @else if (selectedFineValueType !== null) {
            <app-form-element type="number" [formControl]="get('fineValueItemCount')" [min]="1" [showButtons]="true" [suffix]="fineValueItemCountSuffix"
                i18n-label="Label for the fine value item count input field" label="Count"
            />
        }
    }

    <app-form-element type="date" [formControl]="get('date')" [inline]="true" />

</app-add-edit-form-dialog>
