body {
    margin: 0;
}

.w-50vw {
    width: 50vw;
}

.w-85 {
    width: 85%;
}

p-dialog.clamp-width .p-dialog {
    min-width: 25vw;
    max-width: 75vw;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
    top: -0.5rem;
}

p-floatlabel.w-full .p-float-label {
    width: 100%;
}

p-skeleton {
    width: 100%;
}
