#desktop-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#toolbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    p-toolbar {
        width: 100%;
    }
}

#spacer-toolbar {
    visibility: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 101vh;
    z-index: 999;
    backdrop-filter: blur(2px);
}
