.enter-animation {
    animation: fade-in-grow 100ms ease-in;
}

.leave-animation {
    animation: fade-out-shrink 100ms ease-out;
}

@keyframes fade-in-grow {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        height: auto;
    }
}

@keyframes fade-out-shrink {
    from {
        opacity: 1;
        height: auto;
    }
    to {
        opacity: 0;
        height: 0;
    }
}
